<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration >
    <!-- Appenders -->
    <appender name="FileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="logs/hospital.log"></param>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-5p][%-16.16t][%32.32c] - %m%n" />
        </layout>
    </appender>
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-5p][%-16.16t][%32.32c] - %m%l%n" />
        </layout>
    </appender>
    <!-- Root Logger -->
    <root>
        <priority value="ERROR"/>
        <appender-ref ref="FileAppender" />
        <appender-ref ref="ConsoleAppender" />
    </root>

</log4j:configuration>